.cart {
  position: absolute;
  right: 20px;
  top: 65px;
  z-index: 999;
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  h1 {
    margin-bottom: 20px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid lightgray;

    img {
      width: 70px;
      height: 80px;
      object-fit: cover;
    }
    .details {
      h1 {
        font-size: 18px;
        font-weight: 500;
      }
      p {
        color: gray;
        margin-bottom: 10px;
      }
    }
    .price {
      color: #2879fe;
    }
    .delete {
      color: red;
      font-size: 25px;
      cursor: pointer;
      // margin: 5px;
      transition: all 0.1s linear;
      &:hover {
        background-color: rgb(255, 213, 213);
        scale: 1.2;
        border-radius: 5px;
      }
    }
  }
  .total {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 20px;
    span {
      display: inline-block;
      padding: 5px;
    }
    span:last-child {
      border-radius: 5px;
      background-color: #b4d0ff;
      letter-spacing: 1.2px;
      font-size: 17px;
    }
  }
  button {
    width: 250px;
    padding: 10px;
    color: white;
    background-color: #2879fe;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  .reset {
    color: red;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(255, 213, 213);
    }
  }
}
